html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);

}

.container{
    height: 400px;
    width: 500px;
    background-color: aqua;
    margin: 80px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 0px rgb(48, 48, 48);
}
.head-area{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.try-again{
     background-color: rgb(202, 113, 113);
    color: white;
   margin-left: 220px;
    padding: 5px;
    display: none;
    box-shadow: 0px 4px 10px 0px rgb(48, 48, 48);
    text-align: center;
}
.correct{
    background-color: green;
    color: white;
   margin-left: 220px;
   display: none;
    padding: 5px;
    box-shadow: 0px 4px 10px 0px rgb(48, 48, 48);
    text-align: center;
}
.score{
    /* float: right; */
    text-align: center;
    background-color: burlywood;
   margin-left: auto;
    padding: 5px;
    box-shadow: 0 3px rgb(121, 121, 121);

}
.clearfix{
    clear: both;
}
.question-are{
    background-color: deepskyblue;
    width: 400px;
    height: 150px;
    margin: 10px auto;
    box-shadow: 0 3px rgb(121, 121, 121);

}
.click-answer{
    width: 400px;
    height: 50px;
    background-color: violet;
    box-shadow: 0 3px rgb(121, 121, 121);
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin: 0 auto;
}
.answer-card{
    width: 400px;
    height: 100px;
     margin: 10px auto;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     
}
.card{
    width: 100px;
    height: 90px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 3px rgb(121, 121, 121);
    /* margin: 5px; */
    transition: all 0.4s;
    -ms-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.card:hover{
     background-color: rgb(247, 0, 255);
    box-shadow: 0 3px rgb(82, 82, 82);
    color: #fff;
}
.card:active{
    background-color: rgb(247, 0, 255);
    box-shadow: 0px 0px rgb(82, 82, 82);
    top: 4px;
}
.mr{
    margin-right: 10px;
}
.ml{
    margin-left:10px;
}
#start-game{
display: flex;
justify-content: center;
}

#start-game button{
    border-radius: 5px;
    border: none;
     background-color: rgba(255, 255, 255,0.5);
    box-shadow: 0 3px rgb(121, 121, 121);
    padding: 10px;
}
#start-game button:focus,.start-game button:hover{
        border: none;
        /* transition: (border-radius=5px) ease-in-out 3s; */
        transition: ease-in-out 0.5s;
 background-color: rgb(247, 0, 255);
    box-shadow: 0 3px rgb(82, 82, 82);
    color: #fff;
}

#timeremaining{
    width: 180px;
    padding: 10px;
    left: 700px;
    top: 468px;
    position: absolute;
    text-align: center;
 
 background-color: rgba(247, 0, 255,0.4);
}